importing and librarys

In [1]:
import pandas as pd

importing an csv

In [13]:
ac=pd.read_csv('dataset/dataset_of_banking/account.csv')

In [14]:
tr=pd.read_csv('dataset/dataset_of_banking/trans.csv')

In [12]:
dis=pd.read_csv('dataset/dataset_of_banking/district.csv')

Starting an Data Analysis

checking an head of each data

In [15]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 1 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   account_id;"district_id";"frequency";"date"  4500 non-null   object
dtypes: object(1)
memory usage: 35.3+ KB

In [16]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056320 entries, 0 to 1056319
Data columns (total 1 columns):
 #   Column                                                                                          Non-Null Count    Dtype
---  ------                                                                                          --------------    -----
 0   trans_id;"account_id";"date";"type";"operation";"amount";"balance";"k_symbol";"bank";"account"  1056320 non-null  object
dtypes: object(1)
memory usage: 8.1+ MB

In [17]:
dis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 1 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   A1;A2;A3;A4;A5;A6;A7;A8;A9;A10;A11;A12;A13;A14;A15;A16  77 non-null     object
dtypes: object(1)
memory usage: 748.0+ bytes

In [18]:
ac.head()

  account_id;"district_id";"frequency";"date"
0            576;55;"POPLATEK MESICNE";930101
1           3818;74;"POPLATEK MESICNE";930101
2            704;55;"POPLATEK MESICNE";930101
3           2378;16;"POPLATEK MESICNE";930101
4           2632;24;"POPLATEK MESICNE";930102

In [22]:
ac.isnull().sum()

account_id;"district_id";"frequency";"date"    0
dtype: int64