In [1]:
import pandas as pd

In [2]:
com=pd.read_csv('dataset/company - sheet1.csv')

In [3]:
com.head()

,serial number,Company Name,Segment,Contact Number,email id
0,NaN,Pharacy Companies,NaN,NaN,NaN
1,1.0,Ace Technopack LLP,Pharmacy/Life Sciences,7942556199,ace@acetechnologiesgroup.com.
2,3.0,Adept Tableting,Pharmacy/Life Sciences,9346619575,info@adeptexport.com
3,4.0,Ajni Industries Pvt. Ltd.,Pharmacy/Life Sciences,2652774855,dipusharma@ajni.co.in
4,5.0,Allyone Environmental Technologies India Pvt. ...,Pharmacy/Life Sciences,2551230061,enquiry@allone.co.in

In [4]:
com.isnull().sum()

serial number       6
Company Name        0
Segment             7
Contact Number    103
email id          125
dtype: int64

In [7]:
com.columns

Index(['serial number', 'Company Name', 'Segment', 'Contact Number',
       'email id'],
      dtype='object')

In [9]:
is_all_same = com['Contact Number'].nunique() == 1

In [10]:
is_all_same

False

In [11]:
unique_dates = com['Contact Number'].unique()
print("Unique dates in dataset:", unique_dates)

Unique dates in dataset: [nan '7942556199' '9346619575' '2652774855' '2551230061' '9824228881'
 '9978600978' '8655852955' '9974259469' '9879111970' '8624858551'
 '1145508664' '9265541531' '7940055868' '9820962795' '9426757975'
 '9650375541' '7575808268' '(20)67151010' '6354913760' '2266975447'
 '9904405400' '7935208301' '2240413131' '99608969824' '9825033305'
 '9979699955' '8045133452' '9724066338' '9821053265' '9825331801'
 '98677 24577' '9699824514' '7201000893' '8897845554' '8618 31161'
 '7949238192' '79 4030 0727' '9653384812' '79-2658 8565' '7925733411'
 '(2717)417566' '9687341157' '9820509630' '9967717084' '8140408833'
 '8980029682' '2717639888' '9879325171' '7940194030' '82918 21223'
 '22 2850 2878' '123 456 7890' '95120 07086' '97234 44495' '22 4971 9996'
 '81081 14949' '99539 94180' '80454 76011' '98256 34508' '99798 42207'
 '94267 57975' '94088 03137' '98115 99922' '88005 58656' '80458 14460'
 '98250 79430' '75672 19422' '98795 45216' '72650 88833'
 '22-28940600 / 700' '98982 45695' '97277 38001' '90336 10133'
 '9805508770' '9879003546' '9820088373' '22 2871 4444' '22 69607000'
 '98253 58024' '84258 40212' '22 2880 9636' '7016881170' '73 9788 9788'
 '9870448882' '820 080 0100' '22 26836452' '22-46081434' '22-40972000'
 '99704 69023' '84460 41696' '8108105566' '9372080617' '85111 20446'
 '020-67482800' '7043354300' '80-23464645' '9871410959' '22-40433433'
 '79 40013100' '79 2644 5155' '74283 14888' '76006 67613' '89052 49536'
 '73839 45966' '93161 06451' '78787 54780' '96185 95672' '99722 58090'
 '9820270187' '98986 59696' '70390 47042' '2245222115' '9870610432'
 '7925840686' '11 4646 5020' '86‑189‑1632‑0083' '49725039' '22 2897 8725'
 '79 2646 6952' '22 2807 0500' '99241 08843' '93275 92055' '88263 52597'
 '90048 38444' '731 404 3825' '6357148481' '9879204809' '7674889007'
 '9177631526' '8045814751' '9913355008' '7354654474' '9979099501'
 '8048987665' '9841818179' '7760879816' '9099622833' '9081813490'
 '9501316889' '(508)230.9445' '9320737646' '7940394785' '7925622434'
 '8046046013' '9833318254' '7926651002' '2269231222' '8018039693'
 '9898565705' '9825197937' '8104585903' '7888077011' '2228598231'
 '2228599065' '2065296369' '8048610101' '8043835410' '(11)23353353'
 '617157700' '9033017301' '4448679435' '9699658469' '9975460457'
 '8044566912' '18005727963' '9825505344' '8793001058' '9459079599'
 '8045478718' '9425059249' '7976447382' ' 98253 17702' '84460 53761'
 '1800-419-9661' '79 2688 3000' ' 98988 50120' ' 99987 55555'
 ' 80 3726 6888' ' 77780 92462' '79-66309999' '98331 02077' '81408 14449'
 '81287 05212' '99099 93613' '80 4580 1289' '22 6261 1900' ' 97250 02284'
 ' 97277 19344' ' 89804 76636' ' 1800 267 7555   ' ' 91111 00862\r\n'
 '8048213338' '98250 73200' '22.6689.2400' '83693 24190' '99006 74407'
 '90999 80898' '88794 21343' '93282 12251' '98110 17858' '99740 42150'
 '20 2592 0005' '22-2552 6100' '99961 52456' '0251-2870699' '88793 0481'
 '79 2965 6678' '73837 20403' 'sss' '8048609656' '2667 615800'
 '87330 05449' '8 9292 6300' '22 66362775' '02752-241479' '80-41281606'
 '84240 10203' '92278 99943' '9408225739' '95278 90446' '98250 14048'
 '89391 51169' '90045 66452' '80458 16980' '22 69999 047' '97243 23586'
 '98258 42966' '98255 99415\n98258 29875' '9924352760' '70459 18955'
 '9825523201' '9999012080' '8045814905' '8128809787' '9067166212'
 '8045815027' '9320688254' '95104 35319\n79 2979 4041\n76000 14481'
 '9978642229' ' 90990 33849' '7926583380/90' '7942535297' '8048963410'
 '9638797977' '972 447 8488' ' +91\u202f88662\u202f12422  \u202f'
 '91\u202f9898‑8181‑29' '91\u202f84603\u202f36927'
 '91\u202f22\u202f2431\u202f6604'
 '91‑22‑2764\u202f9201 ,91‑99303\u202f59880'
 '91‑93215\u202f38212,91‑93231\u202f39797' '75750 20229' '9377236573'
 '99925 12712' '91‑909‑909\u202f2083,91‑9879\u202f323\u202f323'
 '011‑2701 1448' '70182\u202f56703' '88750 54444' '80‑26742928'
 '79 4050 0100' '  79032 86565' '91\u202f8875054444'
 '91\u202f80719\u202f30473' '8045800775' '93218 81791' '99301 05077'
 '98200 68141' '97277 57943' '99099 78048' '9152233449' '99305 07777'
 '98245 10383' ' 80458 16268' '099252 20686' '792‑658‑2705' '9840017556'
 '124-4299376' '93752 83441' '6359522255' '7874224445' '8104657233'
 '98983 21283' '261 2490224' '88505 30870' '9676546655' '982-588-7700'
 '02764-662626' '79 6617 0186']